*.class
*.jar
*.war
*.ear
*.zip

Java/lib
Java/out
Java/dist
Java/coverage

.gradle

.idea/workspace.xml
.idea/uiDesigner.xml
.idea/deployment.xml
.idea/shelf
.idea/copyright
.idea/dataSources.local.xml

Java/test-db
